@import "/src/typography";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .headerSection {
        display: flex;
        align-items: center;
        gap: 1rem;

        .backButton {
            cursor: pointer;
        }

        .header {
            @extend .titillium-web-regular;
        }
    }
}
